@import "../style.css"; 




#main{
    -fx-background-image: url("../res/background-dark.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}




#titleSect {
    -fx-alignment: center;
}

#titleSect > Label{
    -fx-max-width: 350px;
    -fx-alignment: center;
    -fx-wrap-text: true;
    -fx-text-fill: -subtitle-color; 
    -fx-text-alignment: center;
    -fx-font-size: 18px;
}

#titleSect > #title {
    -fx-text-fill: -title-color;
    -fx-font-weight: bold;
    -fx-max-width: 450px;
    -fx-font-size: 24px;
    -fx-padding: 0 0 10px 0;
}

#sentenceCardSect {
    -fx-background-color: transparent;
    -fx-spacing: 15px;
}

#sentenceCardSectScroll {
    -fx-fit-to-width: true;
    -fx-background-color: transparent;
    -fx-padding: 30px;
}

#sentenceCardSectScroll .viewport {
    -fx-background-color: transparent;
}

#sentenceCardSectScroll .content {
    -fx-background-color: transparent;
}




#mainCenter{
    -fx-alignment: center;
}




#inputSect VBox{
    -fx-alignment: top-left;
    -fx-background-color: -container-background-color; 
    -fx-padding: 30px;
    -fx-background-radius: 25px;
    -fx-pref-width: 350px;
    -fx-border-radius: 25px;
}

#inputSect VBox TextArea{
    -fx-pref-width: infinity;
    -fx-pref-height: 100px;
    -fx-background-color: transparent;
    -fx-text-fill: -title-color;
    -fx-font-size: 15px; 
    -fx-wrap-text: true;
    -fx-prompt-text-fill: -title-color;
}

#inputSect VBox TextArea .scroll-pane {
    -fx-background-color: transparent;
}

#inputSect VBox TextArea .scroll-bar {
    -fx-opacity: 0;
    -fx-max-width: 0;
    -fx-min-width: 0;
    -fx-max-height: 0;
    -fx-min-height: 0;
}

#inputSect VBox TextArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}


#inputSect VBox TextArea .scroll-pane .content{
    -fx-background-color: transparent;
}

#inputSect Button{
    -fx-background-color: transparent;
    -fx-text-fill: -title-color;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

#inputSect{
    -fx-alignment: top-left;
    -fx-padding: 30px 0 30px 30px;
    -fx-max-width: 500px;
}

#otherOptions #title {
    -fx-text-fill: -title-color;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

#otherOptions Label {
    -fx-text-fill: -title-color;
    -fx-font-size: 15px;
}

#otherOptions ComboBox {
    -fx-background-radius: 10px;
    -fx-background-color: -container-background-color;
    -fx-text-fill: -title-color;
    -fx-font-size: 15px;
    -fx-padding: 5px;
    -fx-pref-width: infinity;
}

#otherOptions ComboBox .arrow {
    -fx-background-color: -title-color;
}

#otherOptions ComboBox .list-view {
    -fx-background-color: -container-background-color-solid; 
    -fx-text-fill: -title-color;
}

#otherOptions ComboBox .list-cell {
    -fx-text-fill: -title-color;
    -fx-background-color: transparent;
}

#otherOptions CheckBox {
    -fx-text-fill: -title-color;
    -fx-font-size: 15px;
}

#otherOptions CheckBox .box {
    -fx-background-color: -container-background-color;           
    -fx-background-radius: 3px;
    -fx-padding: 2px;
}

#otherOptions CheckBox:selected .mark {
    -fx-background-color: -title-color;
}

#generateButton{
    -fx-min-width: 380px;
    -fx-background-color: -container-background-color;
    -fx-background-radius: 15px;
    -fx-padding: 15;
}