@import "../../style.css"; 

#sentenceCard{
    -fx-background-color: -container-background-color; 
    -fx-padding: 20;
    -fx-border-color: -container-border-color;
    -fx-border-width: 1;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-pref-width: infinity;
    -fx-max-width: 800;
}

#sentenceCard VBox Label{
    -fx-text-fill: -subtitle-color;
    -fx-padding: 0 0 10px 0;
    -fx-font-size: 13px;
}

#sentenceCard VBox .genSentence{
    -fx-padding: 0;
    -fx-text-fill: -title-color;
}

#sentenceCard StackPane Button{
    -fx-text-fill: -title-color;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}