@import "../../style.css"; 

#sentenceCard{
    -fx-background-color: -container-background-color; 
    -fx-padding: 20;
    -fx-border-color: -container-border-color;
    -fx-border-width: 1;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-pref-width: infinity;
    -fx-max-width: 800;
}

#sentenceCard VBox Label{
    -fx-text-fill: -subtitle-color;
    -fx-font-size: 15px;
}

#sentenceCard VBox .genSentence{
    -fx-padding: 0;
    -fx-text-fill: -title-color;
}

#sentenceCard StackPane Button{
    -fx-text-fill: -title-color;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

#sentenceCard #progressIndicator {
    -fx-progress-color: white;
}

#toxicityRateContainer{
    -fx-padding: 5 10;
    -fx-background-color: #ffffff20; 
    -fx-background-radius: 25;
    -fx-alignment: center;
    -fx-max-width: 150; 
    -fx-min-width: 150; 
}

#toxicityRateContainer Label{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}