@import "../style.css"; 




#main{
    -fx-background-color: radial-gradient(center 50% 50%, radius 50%, #252d3b, #232936, #212630, #1e222b, #1c1f26);
    background-color: radial-gradient(center 50% 50%, radius 50%, #252d3b, #232936, #212630, #1e222b, #1c1f26);
}




#titleSect {
    -fx-alignment: center;
    -fx-padding: 140 0 0 0;
}

#titleSect > Label{
    -fx-max-width: 350px;
    -fx-alignment: center;
    -fx-wrap-text: true;
    -fx-text-fill: -subtitle-color;
    -fx-text-alignment: center;
    -fx-font-size: 12px;

}

#titleSect > #title {
    -fx-text-fill: -title-color;
    -fx-max-width: 450px;
    -fx-font-size: 20px;
    -fx-padding: 0 0 15px 0;
}




#inputSect HBox{
    -fx-background-color: -container-background-color; 
    -fx-padding: -container-padding;
    -fx-border-color: -container-border-color;
    -fx-border-width: -container-border-width;
    -fx-background-radius: -container-radius;
    -fx-max-width: 500;
    -fx-border-radius: -container-radius;
}

#inputSect TextField{
    -fx-pref-width: 350;
    -fx-background-color: transparent;
    -fx-text-fill: -title-color;
    -fx-font-size: 12px
}

#inputSect Button{
    -fx-pref-width: 80; 
    -fx-background-color: transparent;
    -fx-text-fill: -title-color;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

#inputSect{
    -fx-alignment: center;
    -fx-padding: 60;
}