@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    -fx-font-family: "Inter", sans-serif;
}

.root{
    -subtitle-color: #ffffffdd; 
    -title-color: #ffffff; 
    -container-background-color: #373d57bb;
    -container-border-color:  #565f85bb;
}