@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    -fx-font-family: "Azeret Mono", monospace;
}

.root{
    -subtitle-color: #ffffffdd; 
    -title-color: #ffffff; 
    -container-background-color: #373d57bb;
    -container-border-color:  #565f85bb;
}