#syntaxTreeContainer {
    -fx-background-color: -container-background-color;
    -fx-padding: 20;
    -fx-background-radius: 10;
}

#syntaxTreeContainer #syntaxTreeContainerTitle{
    -fx-font-weight: bold;
}

#syntaxTreeLoading {
    -fx-alignment: center;
    -fx-padding: 20 0 0 0;
}

#syntaxTreeLoading Label{
    -fx-text-fill: -title-color;
    -fx-font-size: 15px;
}

#syntaxTreeLoading #progressIndicator {
    -fx-progress-color: white;
}

#syntaxTree{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

#syntaxTree .viewport {
    -fx-background-color: transparent;
}

#syntaxTree .scroll-bar:horizontal {
    -fx-background-color: transparent; 
}

#syntaxTree .scroll-bar:horizontal .track {
    -fx-background-color: rgba(0, 0, 0, 0.2); 
    -fx-background-insets: 2;
    -fx-background-radius: 4;
}

#syntaxTree .scroll-bar:horizontal .thumb {
    -fx-background-color: -title-color; 
    -fx-background-insets: 2;
    -fx-background-radius: 4;
}

#syntaxTree .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-max-width: 0;
}

#syntaxTree .increment-button,
#syntaxTree .decrement-button {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-shape: "";
    -fx-opacity: 0;
    -fx-max-height: 0;
    -fx-max-width: 0;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
    -fx-min-height: 0;
    -fx-min-width: 0;
}